#wrapper {
	width: 600px;
	min-height: 300px;
	margin: 0 auto;
}
	#register {
		display: inline-block;
	}
	#login {
		display: inline-block;
		vertical-align: top;
		margin-left: 50px;
	}
		#register input {
			display: block;
			vertical-align: top;
			margin-bottom: 15px;
		}
		#login input {
			display: block;
			vertical-align: top;
			margin-bottom: 15px;
		}

